<div class="main-content d-flex w-100 justify-content-between">
    <div class="d-grid p-5 img-content" (click)="sendDishes(1)">
        <img class="rounded-circle" src="./../../../../assets/images/4.jpeg" alt="French Dishes">
        <a>FRENCH DISHES</a>
    </div>
    <div class="d-grid p-5 img-content" (click)="sendDishes(2)">
        <img class="rounded-circle" src="./../../../../assets/images/3.jpeg" alt="Italian Dishes">
        <a>ITALIAN DISHES</a>
    </div>
    <div class="d-grid p-5 img-content" (click)="sendDishes(3)">
        <img class="rounded-circle" src="./../../../../assets/images/3.jpeg" alt="Indian Dishes">
        <a>INDIAN DISHES</a>
    </div>
    <div class="d-grid p-5 img-content" (click)="sendDishes(4)">
        <img class="rounded-circle" src="./../../../../assets/images/4.jpeg" alt="Chinese Dishes">
        <a>CHINESE DISHES</a>
    </div>
    <div class="p-5">
        See All <i class="fa-solid fa-arrow-right"></i>
    </div>
</div>