<div class="footer-main d-flex justify-content-evenly w-100 p-5">
    <div>
        <div class="logo-name">
            <p>COOKING ART</p>
        </div>
        <div class="logo-descrp">
            <p>Learn how to cook with cooking recipes app and never burn your food again!</p>
        </div>
        <div class="logo-contact">
            <input type="text" placeholder="Type your Suggestion"> <button type="button" class="btn-clss">Submit</button>
        </div>
    </div>
    <div class="cnct-det">
        <div class="logo-name"> 
            <p class="logo-cnt">CONTACT</p>
        </div>
        <div class="logo-details">
            <ul>
                <li><i class="fa fa-map-marker"></i> 4517 Washington Ave, Kentucky 39495</li>
                <li><i class="fa fa-phone"></i> (704) 555-0127</li>
                <li><i class="fa fa-envelope"></i> willie.jennings@example.com</li>
            </ul>
        </div>
    </div>
    <div>
        <div class="logo-name">
            <p>FOLLOW US ON</p>
        </div>
        <div class="logo-icon">
            <a><img src="../../../assets/images/Vector.svg"></a>
            <a><img src="../../../assets/images/Vector (2).svg"></a>
            <a><img src="../../../assets/images/Vector (3).svg"></a>
            <a><img src="../../../assets/images/Vector (1).svg"></a>
        </div>
    </div>
</div>

