<div class="bg-white w-100 d-flex container-fluid justify-content-between border-bottom-danger head custom-main">
    <div (click)="goMain()" class="app-name">
        <h4>COOKING ART</h4>
    </div>
    <div class="d-flex button-content">
        <div class="drop-down d-flex" (click)="openDialog()">
            CUISINES
            <i class="fas fa-angle-down carot"></i>
        </div>
        <button (click)="register()" class="btn btn-sm border border-dark rounded-0 custom">
            SIGNUP
        </button>
        <button (click)="login()" class="btn btn-sm border border-dark rounded-0 custom">
            LOGIN
        </button>
    </div>
</div>